@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Epilogue&family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.font-merriweather {
  font-family: "Merriweather", serif;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 50px 0px 50px;
}

.hero {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./assets/hero-banner.png");
  width: 100%;
  height: 100%;
  padding: 150px 0px 150px 0px;
  color: white;
  border-radius: 20px;
}

.hero div > h6 {
  font-size: 28px;
}
.hero div > h3 {
  font-size: 58px;
  text-align: center;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

section {
  margin: 150px 0px 150px 0px;
}

.promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.promotion h2 {
  color: #f00;
  font-family: Inter;
  font-size: 70px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}
.promotion div {
  gap: 10px;
}

.promotion div > p {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
.promotion div > h4 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}
img {
  width: 100%;
}

.midnight {
  background-image: url("./assets/midnight.png");
  width: 100%;
  height: 100%;
  padding: 150px 0px 150px 80px;
  color: white;
  border-radius: 20px;
}

.midnight div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.midnight div h2 {
  font-size: 55px;
  font-weight: 900;
  line-height: 77px;
  letter-spacing: 7.04px;
}

.midnight div p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  line-height: 26px;
  max-width: 600px;
  text-align: start;
}
.midnight div button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.event {
  padding: 120px 0px 120px 0px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.event h4 {
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  text-transform: capitalize;
}
.event h4 > span {
  color: #f00;
}

.section_five {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.section_five div {
  width: 33.3333333333%;
}
.section_five div:first-child,
.section_five div:last-child {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
}

.section_five div:first-child > span {
  color: #f00;
  font-size: 20px;
  font-weight: 500;
}
.section_five div:first-child > h6 {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
}
.section_five div:first-child > p {
  color: rgba(7, 2, 17, 0.6);
  font-style: normal;
  font-weight: 400;
}

.section_five div:nth-child(2) img {
  border-radius: 50%;
  border: 10px solid #f00;
  padding: 10px;
  width: 300px;
  height: 300px;
}

.section_five div:last-child span {
  color: #f00;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
}
.section_five div:last-child > p {
  color: rgba(7, 2, 17, 0.6);
  font-style: normal;
  font-weight: 400;
}
.section_five div:last-child > img {
  width: 140px;
  height: 140px;
}

.discount > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  margin-bottom: 40px;
}
.discount div span {
  color: #070211;
  font-size: 20px;
  font-weight: 500;
}

.discount div h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 900;
}
.discount div h2 span {
  color: #f00;
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 900;
}
.discount div h2 p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-style: normal;
  font-weight: 500;
  max-width: 700px;
  width: 100%;
}

.portfolio div:first-child {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-bottom: 30px;
}
.portfolio div:first-child span {
  color: #f00;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.portfolio div:first-child h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
}
.portfolio div:first-child p {
  color: rgba(7, 2, 17, 0.6);
}
.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.portfolio-wrapper div {
  width: 30.3333333333%;
}

.newsletter {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 80px;
  gap: 20px;
}
.newsletter img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.newsletter h2 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
}
.newsletter p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-weight: 400;
}
.newsletter form {
  display: flex;
  justify-content: center;
}
.newsletter form input {
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  outline: none;
  border: none;
  padding: 20px 16px;
}
.newsletter form button {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  outline: none;
  border: none;
  padding: 20px 16px;
  cursor: pointer;
  color: #fff;
}

footer {
  padding: 50px;
  background: #000;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer div:last-child,
footer div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.social img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

footer hr {
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.links div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.links div img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
